@page "/headquarters"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Headquarters"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"> @Localizer["Headquarters"]</MudText>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="authContext">
                        <MudButton Variant="Variant.Outlined"
                                    EndIcon="@Icons.Material.Filled.Add"
                                    Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                        </MudButton>
                            @Localizer["New"]
                    </Authorized>
                </AuthorizeView>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@Localizer["Headquarter"]</MudTh>
            <MudTh>@Localizer["City"]</MudTh>
            <MudTh>@Localizer["Address"]</MudTh>
            <MudTh>@Localizer["PhoneNumber"]</MudTh>
            <MudTh>@Localizer["Email"]</MudTh>
            <MudTh>@Localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.City!.Name</MudTd>
            <MudTd>@context.Address</MudTd>
            <MudTd>@context.PhoneNumber</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>
                <MudTooltip Text="@Localizer["MedicineStock"]">
                    <MudButton Variant="Variant.Filled"
                               EndIcon="@Icons.Material.Filled.Medication"
                               Color="Color.Primary"
                               OnClick="@(() => MedicinesAction(@context))" style="width: 100px;">
                        @context.MedicinesCount
                    </MudButton>
                </MudTooltip>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="authContext">
                        <MudTooltip Text="@Localizer["Edit"]">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="@Localizer["Delete"]">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
                    </Authorized>
                </AuthorizeView>        
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@Localizer["NoRecords"]</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=@Localizer["RecordsNumber"]
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=@Localizer["All"]
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
